/* styles.css */

/* Estilo global */
body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8; /* Color de fondo general */
}



/* Estilo para el contenedor principal de la aplicación */
.app-container {
  width: 100%; /* Ancho máximo */
  margin: 0 auto; /* Centrar el contenedor */
  padding: 20px; /* Espaciado interno */
  background-color: #f0f0f0; /* Color de fondo claro */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilo para el botón de agregar nota */
.add-note-button {
  background-color: #4CAF50; /* Color de fondo verde */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  margin-bottom: 20px; /* Espacio debajo del botón */
  font-size: 16px; /* Tamaño de fuente */
  transition: background-color 0.3s; /* Transición para el color de fondo */
}

/* Efecto hover para el botón de agregar nota */
.add-note-button:hover {
  background-color: #45a049; /* Color de fondo más oscuro al pasar el mouse */
}

/* Estilo para el contenedor de colecciones */
.collections-container {
  display: flex; /* Usar flexbox para una mejor organización */
  flex-direction: column; /* Organizar en columnas */
}
