body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    color: #000;
  }

  body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    color: #000;
  }
  
  /* Estilo para el contenedor principal de la aplicación */
  .app-container {
    width: 100%; /* Ancho máximo */
    margin: 0 auto; /* Centrar el contenedor */
    padding: 20px; /* Espaciado interno */
    background-color: #f0f0f0; /* Color de fondo claro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  
  /* Estilo para el botón de agregar nota */
  .add-note-button {
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin-bottom: 20px; /* Espacio debajo del botón */
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s; /* Transición para el color de fondo */
    /* Ajustes para centrar el botón */
    margin-left: auto; /* Empuja el botón a la derecha */
    margin-right: 60px; /* Margen a la derecha para no pegarse al borde */
  }
  
  /* Efecto hover para el botón de agregar nota */
  .add-note-button:hover {
    background-color: #45a049; /* Color de fondo más oscuro al pasar el mouse */
  }
  
  /* Estilo para el contenedor de colecciones */
  .collections-container {
    width: 100%;
    display: flex; /* Usar flexbox para una mejor organización */
    flex-direction: column; /* Organizar en columnas */
    margin-top: 20px;
  }
  
  /* Estilo para cada nota */
  .note {
    margin: 10px; /* Espacio alrededor de cada nota */
    padding: 15px; /* Espaciado interno */
    border: 1px solid #ccc; /* Color de borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #fff; /* Color de fondo blanco */
    width: 250px; /* Ancho para que se asemeje a una nota en la vida real */
    height: 150px; /* Altura fija para la nota */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    display: flex; /* Flexbox para permitir contenido interno */
    flex-direction: column; /* Organizar el contenido en columnas */
    justify-content: space-between; /* Espaciado entre elementos internos */
  }
  
  /* Estilo para el título de la nota */
  .note-title {
    font-weight: bold; /* Hacer el título más grueso */
    margin-bottom: 10px; /* Espacio debajo del título */
  }
  
  /* Estilo para el contenido de la nota */
  .note-content {
    flex-grow: 1; /* Permitir que el contenido ocupe el espacio disponible */
  }
  